<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringFacetInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/rabbit
     http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <!--配置connection-factory，指定连接rabbit server参数 -->
    <rabbit:connection-factory id="connectionFactory"
        host="127.0.0.1"
        port="5672"
        username="guest"
        password="guest"/>

    <!--定义rabbit template用于数据的接收和发送 -->
    <rabbit:template id="amqpTemplate"  connection-factory="connectionFactory"
                     exchange="bounter.fanout" routing-key="bounter.key" />

    <!--通过指定下面的admin信息，当前producer中的exchange和queue会在rabbitmq服务器上自动生成 -->
    <rabbit:admin connection-factory="connectionFactory" />

    <!--定义queue -->
    <rabbit:queue name="bounter.queue" />

    <!-- 定义direct exchange，点对点模式 -->
    <!--<rabbit:direct-exchange name="bounter.direct">-->
        <!--<rabbit:bindings>-->
            <!--<rabbit:binding queue="bounter.queue" key="bounter.key"/>-->
        <!--</rabbit:bindings>-->
    <!--</rabbit:direct-exchange>-->

    <!-- 定义fanout exchange，发布订阅模式 -->
    <rabbit:fanout-exchange name="bounter.fanout">
        <rabbit:bindings>
            <rabbit:binding queue="bounter.queue" />
        </rabbit:bindings>
    </rabbit:fanout-exchange>


    <!--定义接收消息的监听器容器-->
    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener ref="amqpFanoutListener" method="onFanoutMessage" queue-names="bounter.queue" />
        <!--<rabbit:listener ref="amqpDirectListener" method="onDirectMessage" queue-names="bounter.queue" />-->
    </rabbit:listener-container>

</beans>