<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">

    <!-- 配置JMS连接工厂 -->
    <amq:connectionFactory id="connectionFactory" brokerURL="tcp://localhost:61616"/>

    <!-- 定义Queue类型的消息目的地 -->
    <amq:queue id="queueDestination" physicalName="bounter.queue" />

    <!-- 定义Topic类型的消息目的地 -->
    <amq:topic id="topicDestination" physicalName="bounter.topic" />

    <!-- 定义JmsTemplate，用来简化消息发送 -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="defaultDestinationName" value="bounter.queue"/>
        <!--<property name="defaultDestinationName" value="bounter.topic"/>-->
        <property name="receiveTimeout" value="10000"/>
    </bean>

    <!-- 定义接收消息的监听器容器 -->
    <jms:listener-container connection-factory="connectionFactory">
        <jms:listener destination="bounter.queue" ref="jmsQueueListener" method="onQueueMessage" />
        <jms:listener destination="bounter.topic" ref="jmsTopicListener" method="onTopicMessage" />
    </jms:listener-container>

</beans>